$b30: #80bfe9;
$b20: #6db5e5;
$b10: #5cace2;
$b: #49a3df;
$b-10: #4292c8;
$b-20: #3a82b2;
$b-30: #33729c;

$w: #ffffff;
$w-10: #e5e5e5;
$w-20: #cccccc;
$w-30: #b2b2b2;
$w-40: #999999;
$w-50: #7f7f7f;
$w-60: #666666;

$z_depth_0: 0rem 0rem 0rem #FFF;
$z_depth_1: rgba(0, 0, 0, 0.117647) 0rem 1rem 6rem, rgba(0, 0, 0, 0.117647) 0rem 1rem 4rem;
$z_depth_2: rgba(0, 0, 0, 0.156863) 0rem 3rem 10rem, rgba(0, 0, 0, 0.227451) 0rem 3rem 10rem;
$z_depth_3: rgba(0, 0, 0, 0.188235) 0rem 10rem 30rem, rgba(0, 0, 0, 0.227451) 0rem 6rem 10rem;
$z_depth_4: rgba(0, 0, 0, 0.247059) 0rem 14rem 45rem, rgba(0, 0, 0, 0.219608) 0rem 10rem 18rem;
$z_depth_5: rgba(0, 0, 0, 0.298039) 0rem 19rem 60rem, rgba(0, 0, 0, 0.219608) 0rem 15rem 20rem;

$text: #3e444a;
$text-light: #575f68;

$input: $b-20; 
$input-placeholder: #AFAFBF;
$input-boarder: #AFAFBF;

$button: $b;
$button-hover: $b-10;
$button-active: $b-20;
$button-light-hover: $w-10;
$button-light-active: $w-20;

$icon: $b;
